/* Global Styles */

body {

    margin-top: 100px;

}

@media (min-width: 768px) {

    body {

        margin-top: 50px;

    }

}

#wrapper {

    padding-left: 0;

}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #F9F9F9;

}

@media (min-width: 768px) {

    #wrapper {
        padding-left: 255px;
    }

    #page-wrapper {
        padding: 10px;

    }

}

/* Top Navigation */

.top-nav {

    padding: 0 15px;

}

.top-nav > li {
    display: inline-block;
    float: left;

}

.top-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus {
    color: black;
}

/* Top Navigation Right*/
.dropbtn {
    background-color: rgba(36, 27, 28, 0.1);
    color: white;
    padding: 15px 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
}



.dropdown-content a:hover {background-color: #cbcbcb;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #0f0f0f;}



/* Sidebar Styles */

@media (min-width: 768px) {

    .side-nav {
        position: fixed;
        top: 51px;
        width: 255px;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav > li > a {
        width: 255px;

    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        /*background-color: #000 !important;*/
        background-color: #272727 !important;
        text-decoration: none;
    }

}

.side-nav > li > ul {
    padding: 0;

}

.side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

@media (max-width: 768px) {
    .side-nav > li > a{
        font-size: 22px;
    }
}

.side-nav > li > ul > li > a:hover {
    color: #fff;
}

/* Custom Color Panels Styles */

.huge {
    font-size: 40px;
    line-height: normal;
}

.panel-green{
    border: 1px solid #5cd85c;
}

.panel-green > .panel-heading {
    color: #fff;
    background-color: #5cd85c;

}

.panel-green > a {
    color: #5cd85c;
}

.panel-red{
    border: 1px solid #d9534f;
}

.panel-red > .panel-heading {
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-yellow{
    border: 1px solid #f0ad4e;
}

.panel-yellow > .panel-heading {
    color: #fff;
    background-color: #f0ad4e;

}

.panel-yellow > a {
    color: #f0ad4e;

}

/* Admin Profile Styles */

.panel-body {
    border-radius: 5px;

}

.thumb-info {
    position: relative;

}

.mb-md {
    margin-bottom: 15px !important;
}

.rounded {
    border-radius: 10px;

}

hr {
    border: 0;
    height: 1px;
    margin: 22px 0 22px 0;

}

hr.dotted {
    height: 0;
    border-bottom: 1px dotted #ddd;
    margin: 11px 0 11px 0;

}

.thumb-info .thumb-info-title {
    background: rgba(36, 27, 28, 0.9);
    bottom: 10%;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    left: 0;
    letter-spacing: -1px;
    padding: 9px 11px 9px;
    position: absolute;
    text-transform: uppercase;
    z-index: 1;

}

.thumb-info .thumb-info-inner {
    display: block;

}

.thumb-info .thumb-info-type {
    background-color: #0088cc;
    border-radius: 2px;
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    margin: 8px -2px -15px -2px;
    padding: 2px 9px;
    text-transform: none;

}

.widget-content-expanded {
    font-size: 15px;

}

.widget-content-expanded span {
    font-weight: bold;
}

.widget-content-expanded i {
    color: #0088cc;
    margin-right: 5px;
}

/*new*/
.smenu {
    background: #333;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
}

.smenu a {
    display: block;
    padding: 10px 15px 10px 38px;
    color: white;
    font-size: 14px;
    /*margin: 4px 0;*/
    position: relative;
}

@media (max-width: 768px) {
    .smenu a {
        font-size: 20px;
    }
}

.smenu a:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #3498db;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
}

.smenu a:hover:before {
    opacity: 1;
}

.item:target .smenu {
    max-height: 10em;
}

/*scroll to top*/
html{
    scroll-behavior: smooth;
}

.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
    bottom: 2%;
    right: 2%;
    border-radius: 100%;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: red;
    font-size: 50px;
}

.gotopbtn :before{
    color: red;
}

.gotopbtn :after{
    color: red;
}

/*temp*/
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    /*border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2d2d2d;
    /*border-radius: 10px;*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2d2d2d;
    width: 12px;
}

/*image zoom on hover*/
.image {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.image:hover {
    -webkit-transform: scale(3.5);
    transform: scale(3.5);
}